.logo{
    width: 40px;
    height: 40px;
}
.logo2{
    width: 15px;
    height: 15px;
}
.logo1{
    width: 30px;
    height: 30px;
}
.cbox{
    border-bottom: 1px solid lightgray;
}
.adiv{
    max-height: 50em;
    background-color: lightgray;
    border: 1px solid white;
}
.bdiv{
    text-align: left;
}
.cdiv{
    text-align: right;
}
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
.form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
.form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

.lists{
    display: flex;
    flex: 1;
    width: 100%;
    overflow-x: scroll;
}

.lists .list{
    display: flex;
    flex-flow: column;
    flex: 1;

    width: 100%;
    min-width: 350px;
    max-width: 350px;
    height: 100%;
    min-height: 800px;
    max-height: 800px;
    overflow-y: scroll;

    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 15px;;
    padding: 8px;
    transition: all 0.2s linear;
}

.lists .list .list-item {
    background-color: #F3F3F3;
    border-radius: 8px;
    padding: 15px 20px;
    text-align: center;
    margin: 4px 0px;
}
